<h2 xmlns="http://www.w3.org/1999/html">Mira nuestra galeria de fotos</h2>
<div>
    <div class="galeria">
        <div data-ng-hide="!isCurrentIndex($index)"  data-ng-repeat="slide in slides">
            <img class="images img-responsive col-xs-12 col-sm-12 col-md-6 col-lg-6" data-ng-src="images/{{slide.image}}" >

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h3>{{slide.titulo}}</h3>
                <p>{{slide.description}}</p>
                <a ng-click="nextSlide()" id="siguiente" class="pull-right">Siguiente >></a>
                <a ng-click="prevSlide()" id="anterior" class="pull-left"><< Anterior</a>
            </div>
        </div>
    </div>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


   </div>


    <div id="miniaturas" class=" row img-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <img data-ng-repeat="slide in slides" data-ng-src="images/thumbs/{{slide.image}}" data-ng-click="setCurrentIndex($index)" class="col-xs-4 col-sm-4 col-md-2 col-lg-2">


    </div>

</div>