<h2>Mira donde estamos</h2>
<div id="localizacion">
    <div id="div_mapa" class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <iframe id="mapa" class="col-xs-12 col-sm-12 col-md-7 col-lg-7" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2981.720755042676!2d-0.8968709999999633!3d41.640167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1429557904920"frameborder="0" style="border:0"></iframe>
    </div>
    <div id="textoMapa" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <p id="contenidoTextoMapa" class="col-xs-12 col-sm-12 col-md-5 col-lg-5"> C/ Mirame y no me toques Nº25 Zaragoza</p>
    </div>
</div>