<h2>Estos son algunos de nuestro menus</h2>

<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="descripciones_menus" id="menu1" align="center">
        <table align="center">
            <tr><td><h4>Menú nº 1 </h4>
                Precio:   56,90 € ( IVA incluido )</td></tr>
            <tr><td></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><p><span style="font-weight:bold">**Ensalada de Marisco con brotes de lechuga y huevo hilado</span><br />
            </p></td></tr>
            <tr><td><span style="font-weight:bold">**Lenguado relleno de mousse de rape y gambas</span></td></tr>
            <tr><td><span style="font-weight:bold">**Cortante sorbete de limón al cava</span></td></tr>
            <tr>
                <td> <span style="font-weight:bold">**Paletilla de ternasco rellena con timbal de patatas gratinadas</span><br /></td></tr>
            <tr><td><span style="font-weight:bold">**Tarta Nupcial con helado y frutos secos</span></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>Vino blanco “Corona de Aragón” ( D.O. Cariñena)<br />
                Vino tinto crianza “Marqués de Sojo” ( D.O. Rioja )<br />
                Aguas Minerales<br />
                Café e Infusiones<br />
                Cava Brut Reserva “Enric Castell”<br/>
                Surtido de Licores
            </td></tr></table>

    </div>
    <hr noshade="noshade" />
</article>
<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="descripciones_menus" id="menu2" align="center" >
        <table align="center">
            <tr><td><h4>Menú nº 2</h4>
                Precio:   59,50 € (IVA incluido )</td></tr>
            <tr><td></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><p><span style="font-weight:bold">**Ensalada templada de Ibéricos</span><br />
            </p></td></tr>
            <tr><td>**Merluza al horno en salsa de setas y sus verduritas</span></td></tr>
            <tr><td><span style="font-weight:bold">**Cortante sorbete de manzana verde</span></td></tr>
            <tr>
                <td> <span style="font-weight:bold">**Ternasco asado (D.O ) con patatas panadera</span><br /></td></tr>
            <tr><td>**Tarta Nupcial con helado y frutos secos</span></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>Vino blanco “Corona de Aragón” ( D.O. Cariñena)<br />
                Vino tinto “Carinus” roble (D.O. Cariñena )<br />
                Vino tinto “Viñas del Vero” (D.O. Somontano )<br />
                Aguas Minerales<br />
                Café e Infusiones<br />
                Cava Brut Reserva “Enric Castell”<br/>
                Surtido de Licores<br /><br />
            </td></tr></table>

    </div>
    <hr noshade="noshade" />
</article>
<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="descripciones_menus" id="menu3" align="center" >
        <table align="center">
            <tr><td><h4>Menú nº 3</h4>
                Precio:   67,90 € (IVA incluido )</td></tr>
            <tr><td></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><p><span style="font-weight:bold">**Entremeses “Velagua”</span><br />
                Langostinos cocidos, Virutas de Jamón Ibérico, Caña de Lomo Ibérico
                Salmón ahumado relleno de cremoso al eneldo, Crujiente de Boletus Edulis y Tosta de Foie Fresco con frutos rojos

            </p></td></tr>
            <tr><td><span style="font-weight:bold">**Suprema de Merluza con gulas y almejas</span></td></tr>
            <tr><td><span style="font-weight:bold">**Sorbete de mandarina</span></td></tr>
            <tr>
                <td> <span style="font-weight:bold">**Solomillo de ternera al foie con su guarnición</span><br /></td></tr>
            <tr><td><span style="font-weight:bold">**Tarta Nupcial con helado y frutos secos</span></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>Vino blanco “Carinus” (D.O. Cariñena )<br />
                Vino tinto “Carinus” roble (D.O. Cariñena )<br />
                Aguas Minerales<br />
                Café e Infusiones<br />
                Cava Brut Reserva “Enric Castell”<br/>
                Surtido de Licores
            </td></tr></table>

    </div>
    <hr noshade="noshade" />
</article>
<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="descripciones_menus" id="menu4" align="center">
        <table align="center">
            <tr><td><h4>Menú nº 4</h4>
                Precio:   68,50 € (IVA incluido )</td></tr>
            <tr><td></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><p><span style="font-weight:bold">**Timbal de piña natural con langostinos y salsa cocktail</span><br />
            </p></td></tr>
            <tr><td><span style="font-weight:bold">**Media Lubina en salsa suave de azafrán</span></td></tr>
            <tr><td><span style="font-weight:bold">**Cortante sorbete de mojito con hierbabuena</span></td></tr>
            <tr>
                <td> <span style="font-weight:bold">**Milhojas de solomillo de ternera con crujiente de puerros</span><br /></td></tr>
            <tr><td><span style="font-weight:bold">**Tarta Nupcial con helado y frutos secos</span></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>Vino blanco “Viñas del Vero” ( D.O. Somontano )<br />
                Vino tinto “Viñas del Vero” (D.O. Somontano )<br />
                Aguas Minerales<br />
                Café e Infusiones<br />
                Cava Brut Reserva “Enric Castell”<br/>
                Surtido de Licores
            </td></tr></table>

    </div>
    <hr noshade="noshade" />
</article>