<h2>Mira algunos de nuestro platos</h2>
<div id="pagina_platos" class="input-block-level">
    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div>
            <img src="images/plato1.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
        </div>
        <div class="descripcion_plato">
            <h4>Salmón en su raspa</h4>
            <p>
                Ingredientes
                15 gr de tapioca
                200 ml de té earl grey azucarado
                cardamomo
                50 ml de nata
                unas lenguas de gato
                unas hojas de menta con chocolate
            </p>


     </div>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div>
            <img src="images/plato2.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
        </div>
        <div class="descripcion_plato">
            <h4>Bacalao con verduras</h4>
            <p>
                Ingredientes
                15 gr de tapioca
                200 ml de té earl grey azucarado
                cardamomo
                50 ml de nata
                unas lenguas de gato
                unas hojas de menta con chocolate
            </p>


        </div>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div>
            <img src="images/plato3.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
        </div>
        <div class="descripcion_plato">
            <h4>Secreto iberico en salsa de jerez</h4>
            <p>
                Ingredientes
                15 gr de tapioca
                200 ml de té earl grey azucarado
                cardamomo
                50 ml de nata
                unas lenguas de gato
                unas hojas de menta con chocolate
            </p>


        </div>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div>
            <img src="images/plato4.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
        </div>
        <div class="descripcion_plato">
        <h4>Lasaña de verduras</h4>
        <p>
            Ingredientes
            15 gr de tapioca
            200 ml de té earl grey azucarado
            cardamomo
            50 ml de nata
            unas lenguas de gato
            unas hojas de menta con chocolate
        </p>


    </div>
    </article>
</div>
