/* variables*/
/* Funciones */
/***********************************************************************************************/
/* Estilos */
/*Barra de navegacion*/
#navegacion {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
#divNavegacion {
  background-color: black;
}
#container,
footer,
#pagina_platos {
  padding: 2em;
}
#container {
  margin: auto;
  height: auto;
}
article {
  margin-top: 2em;
}
.descripciones_menus {
  font-family: verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
}
.descripcion_plato {
  padding: 1em;
  text-align: justify;
}
/*fotografias*/
#miniaturas img {
  display: inline-block;
  padding: .5em;
  opacity: .5;
}
#miniaturas img:hover {
  opacity: 1;
  transition: 0.5s;
}
/* Localicazion */
#localizacion {
  margin: auto;
}
#mapa {
  height: 250px;
  width: 250px;
}
/* Reserva de mesa*/
#reserva_mesa,
#imagenMesa {
  margin-top: 2em;
}
/* fima en el footer */
#firma small p,
#firma {
  text-align: center;
}
/***********************************************************************************************/
/*diseño responsivo*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #mapa {
    height: 328px;
    width: 528px;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*mapa*/
